.menu {
    display: flex;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 80px;
    gap: 20px;
    z-index: 999;
    background-color: #d01d20;
    box-shadow: 0px 3px 20px #000000;
}

.menu div{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.s1 {
    background-image: url(/Fundo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.left {
    width: 600px;
    height: 600px;
    overflow: hidden;
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}

.imgPerfil {
    width: 600px;
    height: 600px;
    transition: all 200ms ease-in-out;
}

.imgPerfil:hover {
    transform: scale(1.1);
}

.right {
    width: 500px;
}

.title {
    font-size: 36px;
    font-weight: bold;
}

.paragraph {
    font-size: 22px;
    background-color: #525252a7;
    box-shadow: 0px 3px 20px #0000007c;
}

.rodape {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border-top: 2px solid #000000;
}

.rodape a {
    transition: all 500ms ease-in-out;
    border-radius: 999px;
    overflow: hidden;
}

.rodape a:hover {
    transform: translateY(-15px) scale(1.3);
}



.wrap-cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card{
    width: 700px;
    height: 700px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrap-video{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.s2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 100vh;
    background-image: url(/FUNDO2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/* .first{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 20px #0000007c;
    
} */

.largura{
    width: 600px;
    height: 500px;
}

.second{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: #525252a7;
    box-shadow: 0px 3px 20px #0000007c;
}




@media (width <=768px) {
    .s1 {
        padding-top: 50px;
        gap: 0;
    }

    .left {
        width: 300px;
        height: 300px;
    }

    .imgPerfil {
        width: 300px;
        height: 300px;

    }

    .right {
        padding: 20px;
        margin-top: -150px;
    }

}